PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/inet
JWT_SECRET=replace_me
ADMIN_BASIC_USER=admin
ADMIN_BASIC_PASS=change_me
CORS_ORIGINS=*

APP_NAME=INET
APP_ENV=production
APP_LANGS=ru,en
APP_BASE_URL=https://your-domain.com
BACKEND_BASE_URL=https://your-domain.com
ADMIN_PANEL_BASE_URL=https://your-admin-domain.com
ANDROID_APP_URL=https://play.google.com/store/apps/details?id=com.example.inet
IOS_APP_URL=https://apps.apple.com/app/id000000000
SUPPORT_TELEGRAM_URL=https://t.me/your_admin
BOT_NAME=INET Bot
BOT_USERNAME=inet_bot
BOT_TOKEN=

AUTH_DEV_LOGIN_CODE=111111
AUTH_ALLOW_DEV_CODE=true

SUBSCRIPTION_TOKEN=replace_with_long_random_subscription_token

VPN_ENGINE=nekobox
VLESS_SERVER=
VLESS_PORT=443
VLESS_UUID=
VLESS_TRANSPORT=tcp
VLESS_SECURITY=reality
VLESS_FLOW=xtls-rprx-vision
VLESS_SNI=www.cloudflare.com
VLESS_HOST=
VLESS_PATH=
VLESS_SERVICE_NAME=
VLESS_PUBLIC_KEY=
VLESS_SHORT_ID=
VLESS_FINGERPRINT=chrome
VLESS_ALLOW_INSECURE=false
VLESS_DNS_SERVERS=1.1.1.1,8.8.8.8
VLESS_ALPN=
VLESS_DOMAIN_RESOLVER=dns-remote
VLESS_PACKET_ENCODING=xudp
VLESS_MTU=1400

RU_LTE_SOURCE_URLS=https://raw.githubusercontent.com/igareck/vpn-configs-for-russia/main/Vless-Reality-White-Lists-Rus-Mobile.txt,https://raw.githubusercontent.com/igareck/vpn-configs-for-russia/main/Vless-Reality-White-Lists-Rus-Mobile-2.txt
RU_LTE_REFRESH_ON_STARTUP=false
RU_LTE_AUTO_REFRESH_ENABLED=false
RU_LTE_AUTO_REFRESH_MINUTES=30
RU_LTE_AUTO_REFRESH_TIMEOUT_SEC=600
RU_LTE_MAX_CANDIDATES=4
RU_LTE_TEST_LIMIT=40
RU_LTE_CONNECT_TIMEOUT_SEC=4
RU_LTE_ALLOWED_TRANSPORTS=xhttp,grpc,ws


VPN_DEFAULT_DEVICE_LIMIT=2
VPN_MAX_DEVICES_PER_ACCOUNT=2
VPN_MAINTENANCE_MODE=false
VPN_NEW_ACTIVATIONS_ENABLED=true
VPN_SHOW_DAILY_PLAN=true
VPN_SHOW_MONTHLY_PLAN=true
VPN_SETTINGS_EDITABLE=false

PLAN_DAILY_ENABLED=true
PLAN_DAILY_CODE=daily
PLAN_DAILY_NAME_RU=1 день
PLAN_DAILY_NAME_EN=1 day
PLAN_DAILY_PRICE_RUB=10
PLAN_DAILY_DURATION_DAYS=1
PLAN_DAILY_DEVICE_LIMIT=2

PLAN_MONTHLY_ENABLED=true
PLAN_MONTHLY_CODE=monthly
PLAN_MONTHLY_NAME_RU=30 дней
PLAN_MONTHLY_NAME_EN=30 days
PLAN_MONTHLY_PRICE_RUB=999
PLAN_MONTHLY_DURATION_DAYS=30
PLAN_MONTHLY_DEVICE_LIMIT=2

PAYMENTS_PROVIDER=yookassa
PAYMENTS_ENABLED=false
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_RETURN_URL=https://your-domain.com/payment/return
YOOKASSA_WEBHOOK_URL=https://your-domain.com/payments/webhook/yookassa

DEFAULT_LOCATIONS_JSON=[{"code":"de-frankfurt","name_ru":"Германия","name_en":"Germany","country_code":"DE","is_active":true,"is_recommended":true,"is_reserve":false,"status":"online","sort_order":10},{"code":"nl-amsterdam","name_ru":"Нидерланды","name_en":"Netherlands","country_code":"NL","is_active":true,"is_recommended":true,"is_reserve":false,"status":"online","sort_order":20},{"code":"us-newyork","name_ru":"США","name_en":"USA","country_code":"US","is_active":true,"is_recommended":false,"is_reserve":true,"status":"offline","sort_order":30}]
